html{
	background-color:#3a3a3a;
	color:#d7d7d7;
	font-family: Tahoma, Arial;
	font-weight: bold;
   	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
   	-webkit-touch-callout: none;
}
body{
	font-size: 2.484375rem;
	background-color:#3a3a3a;
	margin: 0;
}
a{
	text-decoration: none;
	color: #b27777;
}
.topbar{
	background-color: #ac5353;
	overflow: hidden;
	padding: 0px 10px;
}

.footer{
	font-size: 13px;
	position: absolute;
	bottom: 5px;

}
